[submodule "3rd/json"]
	path = 3rd/json
	url = https://github.com/nlohmann/json.git
[submodule "3rd/tinygltf"]
	path = 3rd/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "3rd/filesystem"]
	path = 3rd/filesystem
	url = https://github.com/gulrak/filesystem.git
[submodule "3rd/glm"]
	path = 3rd/glm
	url = https://github.com/g-truc/glm
